:root{
  --secondary-color:#ffffff;
  --primary-color:#0D110F;
}

.weather-app-section{
  background-color: var(--primary-color);
  color:var(--secondary-color);
  display: block;
  margin: 0 auto;
  padding-top:100px;
  padding-bottom: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}



.form{
  margin-top: 10px;
  margin-bottom: 10px;
}
.form input{
  padding:10px;
}
.search-button{
  padding:10px;
  background-color: #61dafb;
  color:white;
  margin-left: 4px;
  border-radius: 25px;
  padding-right: 25px;
  padding-left: 25px;
  border: none;
  font-size: 15px;
}
.search-button:hover{
  cursor: pointer;
}
