:root{
  --secondary-color:#2A2E3A;
  --primary-color:#0D110F;
  --accent-color:#1589F6;
}

.weather-app-section{
  background-color: var(--secondary-color);
  color:white;
  display: block;
  margin: 0 auto;
  padding-top:20px;
  padding-bottom: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.container{
  max-width: 100%;
  background-color: var(--primary-color);
}

.form{
  margin-top: 10px;
  margin-bottom: 10px;
}
.form input{
  padding:10px;
}
.submit-btn{
  padding:10px;
  background-color: #61dafb;
  color:white;
  margin-left: 4px;
  border-radius: 25px;
  padding-right: 25px;
  padding-left: 25px;
  border: none;
  font-size: 15px;
}
.submit-btn:hover{
  cursor: pointer;
}
