
:root{
  --secondary-color:#ffffff;
  --primary-color:#0C121E;
  --accent-color:#202C3C;
}

.weather-app-section{
  background-image: url(bg-1.jpeg);
  background-repeat: no-repeat;
  color:var(--secondary-color);
  margin:0;
  padding:0;
  width: 100%;
  height: 600px;
  background-attachment: fixed;
  background-size: cover;
  top: 0;
  left: 0;
}

.weather-app-section .temperature-section{
  background-color: var(--secondary-color);
  opacity: 0.2;
  color: #0C121E;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.weather-app-section .temperature-section p{
 font-size: 60px;
 margin-top: 10px;
}
.weather-app-section .temperature-section sup{
  font-size: 20px;
 }
.weather-app-section .forecast-section{
  background-color: var(--secondary-color);
  opacity: 0.3;
  color: #0C121E;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
  
}
.weather-app-section .form{
text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.form .search-input{
  padding-right:50px;
  padding-left: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.form .search-button{
  background-color: var(--primary-color);
  color:var(--secondary-color);
  margin-left: 4px;
  border-radius: 25px;
  padding-right: 60px;
  padding-left: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
.form .search-button:hover{
  cursor: pointer;
}
